@charset "UTF-8";
html, body {
    margin: 0;
    min-height: 100%;
}

body {
    background-image: url("../assets/img/background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Comic Sans MS', sans-serif;
    color: #00970a;
    text-align: center;
    margin-top: 50px;
}

circular_image {
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
}
img{
    display: block;
    margin: auto;
}
